# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore any build output or compiled code
dist/
build/

# Ignore logs and debugging files
logs/
*.log
npm-debug.log*

# Ignore any user-specific files or configuration
.idea/
.vscode/
.DS_Store

# Ignore local development files
*.env.local
.env.development.local
.env.test.local
.env.production.local
